html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing:inherit;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(255, 245, 224);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

.bodyStyles {
    display: flex;
    flex-direction: column;
}

button {
    padding: 0.4rem 0.5rem;
    border: 0.1rem solid rgb(20, 30, 70);
    background-color: rgb(253, 240, 240);
    border-radius: 0.3rem;
}

button a {
    color: rgb(20, 30, 70);
    text-decoration: none;
    font-weight: 700;
    font-family: inherit;
}

button:hover {
    background-color: rgb(31, 65, 114);
}

button:hover a {
    color: rgb(253, 240, 240);
}

#header {
    background-color: rgba(255, 245, 224, 0.2);
    padding: 0.5rem;
}

#main {
    background-color: rgb(255, 245, 224);
}

#header .navbar {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

input[type="search"] {
    width: 40rem;
    height: 2.5rem;
    background-color: rgba(253, 240, 240, 0.8);
}

input[type="search"]:active {
    border: none;
}

input[type="search"]::placeholder {
    font-weight: 400;
    color: rgb(20, 30, 70);
}

#header .navbar .searchBar form {
    float: left;
    display: flex;
    align-items: center;
    background-color: rgba(253, 240, 240, 0.8);
    border-radius: 0.3rem;
    border: 0.1rem solid rgb(20, 30, 70);
}
#header .navbar .searchBar input {
    border: none;
}

#header .navbar .searchBar button {
    border: none;
    cursor: pointer;
}

#header .navbar .searchBar button:hover {
    border-radius: 0;
    background-color: rgba(31, 65, 114, 0.9);
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

#buttons {
    display: flex;
    align-items: center;
    gap: 0 0.3rem;
}

#buttons button {
    height: 2.5rem;
}

hr {
    height:2px;
    border-width:0;
    color:rgb(20, 30, 70);
    background-color:gray"
}
